<ion-header>
  <ion-toolbar>
    <ion-title>Sobre Mim</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="sobre-container">
    <h2>Apresentação</h2>
    <p>
      Olá! Sou aluno do curso de Análise e Desenvolvimento de Sistemas na UNISUAM (Unidade CG). 
      Este projeto faz parte da Avaliação Formadora de Desenvolvimento Mobile, ministrada pelo professor Charles Bastos.
    </p>
  </div>

  <ion-button routerLink="/home" expand="block" class="btn-voltar">
    Voltar ao Cartão
  </ion-button>
</ion-content>